---
import Cat from '../components/Cat.jsx';
import Nav from '../components/Nav.jsx';
import { SEO } from "astro-seo";
import config from "../../config";
import * as cfg from '../config';
let allCats = await Astro.fetchContent('../../_posts/cats/*.md');
---

<html lang="en">
	<head>
        <SEO
            title={config.site_title}
            description={config.site_description} />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<style>
			@media (prefers-color-scheme: dark) {
				html, body {
					background-color: #262626;
				}
			}
			html,
			body {
				font-family: system-ui;
				margin: 0;
				padding: 0;
			}
			nav {
				height: 55px;
				background-color: #121212;
			}
		</style>
	</head>
	<body>
		<nav><Nav client:load /></nav>
		<main>
			<div class="cats">
				{allCats.map(cat => <Cat client:idle {...cat} />)}
			</div>
		</main>
	</body>
</html>
